html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.App-Wrapper {
  width: 80vw;
  max-width: 1440px;
}

.vimeo {
  width: 100vw !important;
  height: 100vh !important;
}
